### Library Imports:

In [1]:
import os
import re
import time
import csv
import json
import random
import requests
import pandas as pd
import numpy as np

from datetime import date, timedelta, datetime

import selenium
from selenium import webdriver
from bs4 import BeautifulSoup
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
from selenium.common.exceptions import TimeoutException
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [2]:
chrome_options = webdriver.ChromeOptions()
chrome_options.headless = False
browser = webdriver.Chrome(executable_path = 'S:/Softwares/chromedriver_win32/chromedriver', options = chrome_options)

C:\Users\suval\AppData\Local\Temp/ipykernel_10812/480168349.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(executable_path = 'S:/Softwares/chromedriver_win32/chromedriver', options = chrome_options)

In [3]:
wait = WebDriverWait(browser,20)

### Firing URL:

In [4]:
url = 'https://www.estimize.com/edge'
browser.get(url)
browser.maximize_window()
time.sleep(1)

### Login Functionality with Credentials:

In [5]:
login_btn = browser.find_element_by_xpath('/html/body/header/div[1]/div[1]/ul/li[8]/a')
login_btn.click()
time.sleep(1)

C:\Users\suval\AppData\Local\Temp/ipykernel_10812/174637872.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  login_btn = browser.find_element_by_xpath('/html/body/header/div[1]/div[1]/ul/li[8]/a')

In [6]:
email_field = browser.find_element_by_xpath('//*[@id="user_login"]')
password_field = browser.find_element_by_xpath('//*[@id="user_password"]')
login_btn = browser.find_element_by_xpath('/html/body/div[1]/div/div[1]/form/input[3]')

with open('credentials.json') as f:
    d = json.loads(f.read())
    username = d['estimize'][0]['username']
    password = d['estimize'][0]['password']

email_field.send_keys(username)
password_field.send_keys(password)
login_btn.click()

time.sleep(1)

C:\Users\suval\AppData\Local\Temp/ipykernel_10812/1500881379.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  email_field = browser.find_element_by_xpath('//*[@id="user_login"]')
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/1500881379.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  password_field = browser.find_element_by_xpath('//*[@id="user_password"]')
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/1500881379.py:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  login_btn = browser.find_element_by_xpath('/html/body/div[1]/div/div[1]/form/input[3]')

### Getting Ticker List and Randomly choosing 50:

In [7]:
df = pd.read_csv("S:/GSU/Fall 21/DATA MANAGEMENT FOR ANALYTICS - MSA 8040/Project/msa8040_final_project_ticker_list.csv")
df = df.sample(n = 50)
df.reset_index(inplace = True, drop = True)
df.head()

  ticker
0   SAIA
1    CCC
2   VIVO
3   LABL
4    OGE

### Search for the Ticker names in the Search Bar:

In [8]:
def search_ticker(ticker):
    search_box = browser.find_element_by_xpath('//*[@id="search"]')
    search_box.send_keys(ticker)
    search_box.send_keys(Keys.ENTER)

### Scrape Company Information:

In [9]:
def comp_info(comp_df):
    comp_ticker = browser.find_element_by_xpath('/html/body/div[4]/div[2]/div/div[1]/div/div/div/div[1]/h1/a').text
    comp_name = browser.find_element_by_xpath('/html/body/div[4]/div[2]/div/div[1]/div/div/div/div[1]/p/a').text
    comp_sector = browser.find_element_by_xpath('/html/body/div[4]/div[2]/div/div[1]/div/div/div/p/span[1]/a/span').text
    comp_industry = browser.find_element_by_xpath('/html/body/div[4]/div[2]/div/div[1]/div/div/div/p/span[2]/a/span').text
    comp_followers = browser.find_element_by_xpath('/html/body/div[4]/div[2]/div/div[1]/div/div/nav/div/div/div[1]/div[2]').text
    comp_analyst_count = browser.find_element_by_xpath('/html/body/div[4]/div[2]/div/div[1]/div/div/nav/div/div/div[2]/a').text
    
    comp_df.append([comp_ticker, comp_name, comp_sector, comp_industry, comp_followers, comp_analyst_count])
    
    return comp_df

### Scraping the EPS Information per Quarter:

In [10]:
def get_eps(estimates_data, text):
    time.sleep(1)
    rep_earn, est_con, est_mean, ws_con = None, None, None, None
    comp_ticker = browser.find_element_by_xpath('/html/body/div[4]/div[2]/div/div[1]/div/div/div/div[1]/h1/a').text
    quarter = text
    for tr in browser.find_elements_by_xpath('.//tr'):
        for td in tr.find_elements_by_xpath(".//td[@class='estimates-tbl-consensus-column']"):
            if (td.find_elements_by_xpath(".//strong[@class='estimates-tbl-reported-earnings-label']")):
                rep_earn = tr.find_elements_by_xpath(".//td[@class='estimates-tbl-consensus-eps']")[0].text
            if (tr.find_elements_by_xpath(".//div/strong[@class='estimates-tbl-select-consensus-label']")):
                est_con = tr.find_elements_by_xpath(".//td[@class='estimates-tbl-consensus-eps']")[0].text
            if (tr.find_elements_by_xpath(".//div/strong[@class='estimates-tbl-estimize-mean-label']")):
                est_mean = tr.find_elements_by_xpath(".//td[@class='estimates-tbl-consensus-eps']")[0].text
            if (tr.find_elements_by_xpath(".//div/strong[@class='estimates-tbl-wall-street-consensus-label']")):
                ws_con = tr.find_elements_by_xpath(".//td[@class='estimates-tbl-consensus-eps']")[0].text
    estimates_data = [[comp_ticker, quarter, rep_earn, est_con, est_mean, ws_con]]
    return estimates_data

### Scraping the EPS Information per Analyst per Quarter:

In [11]:
def get_ana(ana_data, text):
    time.sleep(1)
    ana_ID, ana_name, ana_eps = None, None, None
    comp_ticker = browser.find_element_by_xpath('/html/body/div[4]/div[2]/div/div[1]/div/div/div/div[1]/h1/a').text
    quarter = text
    ana_data = []
    cols_ana = ['Company Name', 'Quarter', 'Analyst ID', 'Analyst Name', 'EPS Estimation']
    fin_ana = pd.DataFrame(columns = cols_ana)
    for th in browser.find_elements_by_xpath('.//tbody'):
        for tr in th.find_elements_by_xpath(".//tr[@class='']"):
            for td in tr.find_elements_by_xpath(".//td[@class='estimates-tbl-analyst']"):
                if(td.find_elements_by_xpath(".//a[@class='username']")):
                    ana_name = td.find_elements_by_xpath(".//a/strong[@class='user-tooltip-item']")[0].text
                if(td.find_elements_by_xpath(".//a[@class='secondary']")):
                    ana_ID = td.find_elements_by_xpath(".//a/p[@class='user-tooltip-item']")[0].text
            for td in tr.find_elements_by_xpath(".//td[@class='estimates-tbl-eps']"):
                ana_eps = td.text
            ana_data.append([comp_ticker, quarter, ana_ID, ana_name, ana_eps])
            fin_ana = pd.DataFrame(ana_data, columns = cols_ana)
    return fin_ana

### Changing Quarter value:

In [12]:
def change_quat(text, case):
    eps_out = []
    ana_out = []
    estimates_data = []
    ana_data = []
    cols_eps = ['Company Name', 'Quarter', 'Reported Earnings', 'Estimize Consensus', 'Estimize Mean', 'Wall Street Consensus']
    cols_ana = ['Company Name', 'Quarter', 'Analyst ID', 'Analyst Name', 'EPS Estimation']
    fin_eps = pd.DataFrame(columns = cols_eps)
    eps_data = pd.DataFrame(columns = cols_eps)
    analyst_data = pd.DataFrame(columns = cols_ana)
    
    change_quat = browser.find_element_by_class_name('release-navigation-dropdown-list-header-inner-text-icon')
    change_quat.click()
    time.sleep(1)   
    
    quat_list = browser.find_elements_by_class_name('release-navigation-dropdown-dropdown-item-name')
    
    val = -1
    for i in range(len(quat_list)):
        if (quat_list[i].text == text):
            val = i
            break
    if (val != -1):
        select_quat = quat_list[val]
        select_quat.click()
        time.sleep(2)  
        
        if (case == 0):
            eps_out = get_eps(estimates_data, text)
            fin_eps = pd.DataFrame(eps_out, columns = cols_eps)
            eps_data = eps_data.append(fin_eps)
            return eps_data
        else:
            ana_out = get_ana(ana_data, text)
            analyst_data = analyst_data.append(ana_out)
            return analyst_data

### Collect EPS Data from 4 Quarters:

In [13]:
def select_quat_eps(eps_df):
    eps_df = eps_df.append(change_quat("FQ1 '19", 0))
    eps_df = eps_df.append(change_quat("FQ2 '19", 0))
    eps_df = eps_df.append(change_quat("FQ3 '19", 0))
    eps_df = eps_df.append(change_quat("FQ4 '19", 0))
    return eps_df

### Collect Analyst Data from 4 Quarters:

In [14]:
def select_quat_ana(ana_data):    
    ana_data = ana_data.append(change_quat("FQ1 '19", 1))
    ana_data = ana_data.append(change_quat("FQ2 '19", 1))
    ana_data = ana_data.append(change_quat("FQ3 '19", 1))
    ana_data = ana_data.append(change_quat("FQ4 '19", 1))
    return ana_data

### Scraping all the data at a time for each of the 50 companies:

In [15]:
comp_df = []
cols_eps = ['Company Name', 'Quarter', 'Reported Earnings', 'Estimize Consensus', 'Estimize Mean', 'Wall Street Consensus']
cols_ana = ['Company Name', 'Quarter', 'Analyst ID', 'Analyst Name', 'EPS Estimation']
eps_df = pd.DataFrame(columns = cols_eps)
ana_data = pd.DataFrame(columns = cols_ana)
for i in range(50):
    ticker = df['ticker'].iloc[i]
    search_ticker(ticker)
    comp_info(comp_df)
    eps_df = select_quat_eps(eps_df)
    ana_data = select_quat_ana(ana_data)

C:\Users\suval\AppData\Local\Temp/ipykernel_10812/2111431513.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_box = browser.find_element_by_xpath('//*[@id="search"]')
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/570058602.py:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  comp_name = browser.find_element_by_xpath('/html/body/div[4]/div[2]/div/div[1]/div/div/div/div[1]/p/a').text
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/570058602.py:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  comp_sector = browser.find_element_by_xpath('/html/body/div[4]/div[2]/div/div[1]/div/div/div/p/span[1]/a/span').text
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/570058602.py:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  comp_industry = browser.find_element_by_xpath('/html/body/div[4]/div[2]/div/div[1]/div/div/div/p/span[2]/a/span').text
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/570058602.py:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  comp_followers = browser.find_element_by_xpath('/html/body/div[4]/div[2]/div/div[1]/div/div/nav/div/div/div[1]/div[2]').text
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/570058602.py:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  comp_analyst_count = browser.find_element_by_xpath('/html/body/div[4]/div[2]/div/div[1]/div/div/nav/div/div/div[2]/a').text
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/298799963.py:12: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  change_quat = browser.find_element_by_class_name('release-navigation-dropdown-list-header-inner-text-icon')
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/298799963.py:16: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  quat_list = browser.find_elements_by_class_name('release-navigation-dropdown-dropdown-item-name')
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/846204861.py:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for tr in browser.find_elements_by_xpath('.//tr'):
C:\Users\suval\anaconda3\lib\site-packages\selenium\webdriver\remote\webelement.py:426: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/129242617.py:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for th in browser.find_elements_by_xpath('.//tbody'):

### Company Data - Dataframe Creation:

In [16]:
comp_data = pd.DataFrame([])
cols = ['Ticker', 'Company Name', 'Sector', 'Industry', 'Follower Count', 'No of Analysts']
comp_data = pd.DataFrame(comp_df, columns = cols)
comp_data.reset_index(drop = True, inplace = True)
comp_data.head()

,Ticker,Company Name,Sector,Industry,Follower Count,No of Analysts
0,NKE,Nike Inc.,Consumer Discretionary,"Textiles, Apparel & Luxury Goods","2,786","2,643"

In [17]:
comp_data.to_csv('Company Details Data.csv')

### EPS Data - Dataframe Creation:

In [18]:
est_eps = pd.DataFrame([])
cols = ['Company Name', 'Quarter', 'Reported Earnings', 'Estimize Consensus', 'Estimize Mean', 'Wall Street Consensus']
est_eps = pd.DataFrame(eps_df, columns = cols)
est_eps.reset_index(drop = True, inplace = True)
est_eps.head()

,Company Name,Quarter,Reported Earnings,Estimize Consensus,Estimize Mean,Wall Street Consensus
0,NKE,FQ1 '19,0.67,0.66,0.65,0.62
1,NKE,FQ2 '19,0.52,0.49,0.50,0.45
2,NKE,FQ3 '19,0.68,0.66,0.66,0.63
3,NKE,FQ4 '19,0.62,0.70,0.72,0.66

In [19]:
est_eps.to_csv('Earnings per Share Data.csv')

### Analyst Data - Dataframe Creation:

In [20]:
ana_eps = pd.DataFrame([])
cols = ['Company Name', 'Quarter', 'Analyst ID', 'Analyst Name', 'EPS Estimation']
ana_eps = pd.DataFrame(ana_data, columns = cols)
ana_eps.reset_index(drop = True, inplace = True)
ana_eps.head()

,Company Name,Quarter,Analyst ID,Analyst Name,EPS Estimation
0,NKE,FQ1 '19,Tag_5,"Cristina Fernández, CPA",0.67
1,NKE,FQ1 '19,Analyst_3466341,Analyst_3466341,0.67
2,NKE,FQ1 '19,Analyst_211431,Analyst_211431,0.67
3,NKE,FQ1 '19,schmidtke_jake,schmidtke_jake,0.67
4,NKE,FQ1 '19,Analyst_7054907,Analyst_7054907,0.67

In [21]:
ana_eps.to_csv('Quarterwise Analyst EPS Data.csv')

## Collecting Analyst Information:

### Extracting Unique Analyst IDs:

In [22]:
analyst_IDs = ana_eps['Analyst ID'].unique().tolist()
analyst_IDs

['Tag_5',
 'Analyst_3466341',
 'Analyst_211431',
 'schmidtke_jake',
 'Analyst_7054907',
 'Sasas',
 'Wx_Torn',
 'Analyst_2890626',
 'Spekoliunas',
 'Analyst_9676000',
 'ZTrade',
 'Analyst_7004333',
 'LDrogen',
 'Analyst_317132',
 'BillB1210',
 'Analyst_347051',
 'Kalos',
 'Old_Mayor',
 'Tag_1',
 'Analyst_2843224',
 'Mehrwert',
 'shendricks',
 'rpajam',
 'Analyst_76071',
 'Gino',
 'ABalian',
 'Analyst_3532040',
 'USD_20',
 'sugarfysh',
 'rbrandx',
 'Gkater',
 'PawnWu',
 'Oppenheimer_2',
 'nino872',
 'Analyst_7355989',
 'Analyst_2806104',
 'Analyst_6588992',
 'kgalan',
 'Analyst_4852455',
 'Armour65',
 'MartyLarty',
 'Analyst_1247336',
 'p_a_arty',
 'larrylai',
 'Big_Mac',
 'Analyst_4637522',
 'Analyst_9583612',
 'Analyst_6747565',
 'Analyst_1487257',
 'Analyst_883247',
 'wakko',
 'LuckyGuess',
 'jfffrmm',
 'Analyst_6186275',
 'Analyst_5827312',
 'Analyst_2752012',
 'NBalian',
 'Jennifer1421',
 'Analyst_9138660',
 'Anthony_V',
 'Analyst_656238',
 'Analyst_2544715',
 'defjam',
 'Analyst_1302988',
 'NCIA',
 'GregTripple',
 'Analyst_4911795',
 'savimiki',
 'rama2050',
 'eteodorescu',
 'Eric_Liou',
 'Analyst_1147792',
 'daryldejori',
 'Analyst_9183911',
 'Analyst_9166593',
 'adiabatic',
 'MorgaTron',
 'Analyst_4110103',
 'Needham_32',
 'Newoptionz',
 'Oppenheimer_26',
 'Analyst_4503990',
 'Canaccord_144',
 'rkwong00',
 'Analyst_6475473',
 'bsirirat',
 'Analyst_9693329',
 'Analyst_5026178',
 'Analyst_5448955',
 'Analyst_1217889',
 'Analyst_Ash',
 'Analyst_8212457',
 'JorgeART95',
 'lpisano7',
 'Analyst_2363734',
 'Analyst_157971',
 '420',
 'Analyst_2375387',
 'youngceltic',
 'Sentinel',
 'Analyst_7885967',
 'kerryburrell',
 'bizcad',
 'Madmoni']

### Search Analyst Names:

In [23]:
def search_analyst(ana_ID):
    search_box = browser.find_element_by_xpath('//*[@id="search"]')
    search_box.send_keys(ana_ID)
    wait.until(EC.visibility_of_element_located((By.XPATH,'/html/body/ul/li[1]/a/span[1]'))).click()

### Extract Individual Analyst Information:

In [24]:
def ana_info(ana_info_df):
    time.sleep(1)
    name, role, since, score, error, acc, points, est, stocks, pending = None, None, None, None, None, None, None, None, None, None
    
    if (browser.find_elements_by_xpath(".//h1[@class='profile-display-name']")):
        name = browser.find_elements_by_xpath(".//h1[@class='profile-display-name']")[0].text
    if (browser.find_elements_by_xpath(".//ul[@class='profile-bio-categorizations']")):
        role = browser.find_elements_by_xpath(".//ul[@class='profile-bio-categorizations']")[0].text
    if (browser.find_elements_by_xpath(".//div[@class='profile-activity-stats']")):
        since = browser.find_elements_by_xpath(".//div[@class='profile-activity-stats']")[0].text
    if (browser.find_elements_by_xpath(".//div[@class='profile-analyst-confidence']")):
        score = browser.find_elements_by_xpath(".//div[@class='profile-analyst-confidence']")[0]
        score = score.find_elements_by_xpath(".//div[@class='value']")[0].text
    if (browser.find_elements_by_xpath(".//div[@class='profile-tab-section']")[0]):
        error = browser.find_elements_by_xpath(".//div[@class='profile-tab-section']")[0]
        error = error.find_elements_by_xpath(".//div[@class='profile-stat']")[0].text
    if (browser.find_elements_by_xpath(".//div[@class='profile-tab-section']")[1]):
        acc = browser.find_elements_by_xpath(".//div[@class='profile-tab-section']")[1]
        acc = acc.find_elements_by_xpath(".//div[@class='profile-stat']")[0].text
    if (browser.find_elements_by_xpath(".//div[@class='profile-tab-section']")[2]):
        points = browser.find_elements_by_xpath(".//div[@class='profile-tab-section']")[2]
        points = points.find_elements_by_xpath(".//div[@class='profile-stat']")[0].text
    if (browser.find_elements_by_xpath(".//div[@class='profile-tab-section']")[3]):
        est = browser.find_elements_by_xpath(".//div[@class='profile-tab-section']")[3]
        est = est.find_elements_by_xpath(".//div[@class='profile-stat']")[0].text
    if (browser.find_elements_by_xpath(".//div[@class='profile-tab-section']")[4]):
        stocks = browser.find_elements_by_xpath(".//div[@class='profile-tab-section']")[4]
        stocks = stocks.find_elements_by_xpath(".//div[@class='profile-stat']")[0].text
    if (browser.find_elements_by_xpath(".//div[@class='profile-tab-section']")[5]):
        pending = browser.find_elements_by_xpath(".//div[@class='profile-tab-section']")[5]
        pending = pending.find_elements_by_xpath(".//div[@class='profile-stat']")[0].text
    
    ana_info_df.append([name, role, since, score, error, acc, points, est, stocks, pending])
    
    return ana_info_df

### Analyst Tables' Scraping:

In [25]:
def ana_table_stocks(stock_l4):
    time.sleep(2)
    try:         
        wait.until(EC.visibility_of_element_located((By.XPATH,'//*[@id="profile-covered-stocks"]')))
        stock_l2 = []
        stock_l3 = [[]]  
        stock_cols = ["Ticker", "Reports", "Quarters", "Points", "Pts/Est", "Error Rate", "Accuracy"]

        for i in browser.find_elements_by_xpath(".//div[@class='profile-left-column']"):
            for j in i.find_elements_by_xpath(".//div[@class='profile-left-section']"):
                for k in j.find_elements_by_xpath(".//h2[@class='profile-secondary-header']"):
                    if (j.find_element_by_class_name("profile-secondary-header").text == "Stocks Covered"):
                        if (j.find_element_by_class_name('linked-table')):
                            stock_table = j.find_element_by_class_name('linked-table').text
                            stock_l1 = stock_table.split('\n')                
                            for m in stock_l1:
                                stock_l2.append(m.split(' '))
                            stock_l2 = stock_l2[1:]
                            reports = ''
                            for a in range(len(stock_l2)):  
                                reports = stock_l2[a][1] + " " + stock_l2[a][2]
                                stock_l3 = [[stock_l2[a][0], reports, stock_l2[a][3], stock_l2[a][4], stock_l2[a][5], stock_l2[a][6], stock_l2[a][7]]]
                                stock_fin = pd.DataFrame(stock_l3, columns = stock_cols)
                                stock_l4 = stock_l4.append(stock_fin)
        return stock_l4
    except NoSuchElementException:
        browser.refresh()
        pass
    except TimeoutException:
        browser.refresh()
        pass

In [26]:
def ana_table_pending(pending_l4):
    time.sleep(2)    
    pending_l2 = []
    pending_l3 = [[]]
    pending_cols = ["Ticker", "Quarter", "Reports", "Published", "EPS", "Revenue"]
    
    try:         
        wait.until(EC.visibility_of_element_located((By.XPATH,'//*[@id="profile-pending-estimates"]')))

        for i in browser.find_elements_by_xpath(".//div[@class='profile-left-column']"):
            for j in i.find_elements_by_xpath(".//div[@class='profile-left-section']"):
                for k in j.find_elements_by_xpath(".//h2[@class='profile-secondary-header']"):                    
                    if ((j.find_element_by_class_name("profile-secondary-header").text).split(' ')[0] == "Pending"):
                        if (j.find_element_by_class_name('linked-table')):
                            pending_table = j.find_element_by_class_name('linked-table').text
                            pending_l1 = pending_table.split('\n')                
                            for n in pending_l1:
                                pending_l2.append(n.split(' '))
                            pending_l2 = pending_l2[1:]
                            quarter = ''
                            reports = ''
                            published = ''
                            for b in range(len(pending_l2)):  
                                quarter = pending_l2[b][1] + " " + pending_l2[b][2]
                                reports = pending_l2[b][3] + " " + pending_l2[b][4] + " " + pending_l2[b][5] + " " + pending_l2[b][6]
                                published = pending_l2[b][7] + " " + pending_l2[b][8] + " " + pending_l2[b][9]                    
                                pending_l3 = [[pending_l2[b][0], quarter, reports, published, pending_l2[b][-2], pending_l2[b][-1]]]
                                pending_fin = pd.DataFrame(pending_l3, columns = pending_cols)
                                pending_l4.append(pending_fin)
                            return pending_l4
    except NoSuchElementException:
        browser.refresh()
        pass
    except TimeoutException:
        browser.refresh()
        pass

In [27]:
def ana_table_scored(scored_l4):
    time.sleep(2)
    try:         
        wait.until(EC.visibility_of_element_located((By.XPATH,'//*[@id="profile-scored-estimates"]')))
        scored_l2 = []
        scored_l3 = [[]]
        scored_cols = ["Ticker", "Quarter", "Reported", "Rank", "EPS Points", "Revenue Points", "Total Points"]

        for i in browser.find_elements_by_xpath(".//div[@class='profile-left-column']"):
            for j in i.find_elements_by_xpath(".//div[@class='profile-left-section']"):
                for k in j.find_elements_by_xpath(".//h2[@class='profile-secondary-header']"):
                    if (j.find_element_by_class_name("profile-secondary-header").text == "Scored Estimates"):
                        if (j.find_element_by_class_name('linked-table')):
                            scored_table = j.find_element_by_class_name('linked-table').text
                            scored_l1 = scored_table.split('\n')                
                            for o in scored_l1:
                                scored_l2.append(o.split(' '))
                            scored_l2 = scored_l2[1:]
                            quarter = ''
                            reported = ''
                            rank = ''
                            for c in range(len(scored_l2)):  
                                quarter = scored_l2[c][1] + " " + scored_l2[c][2]
                                reported = scored_l2[c][3] + " " + scored_l2[c][4] + " " + scored_l2[c][5]
                                rank = scored_l2[c][6] + " " + scored_l2[c][7] + " " + scored_l2[c][8]
                                scored_l3 = [[scored_l2[c][0], quarter, reported, rank, scored_l2[c][9], scored_l2[c][-2], scored_l2[c][-1]]]
                                scored_fin = pd.DataFrame(scored_l3, columns = scored_cols)
                                scored_l4 = scored_l4.append(scored_fin)
        return scored_l4
    except NoSuchElementException:
        browser.refresh()
        pass
    except TimeoutException:
        browser.refresh()
        pass

### Navigating to the Analyst Pages:

In [30]:
ana_info_df = []
stock_cols = ["Ticker", "Reports", "Quarters", "Points", "Pts/Est", "Error Rate", "Accuracy"]
stock_l4 = pd.DataFrame(columns = stock_cols)
pending_cols = ["Ticker", "Quarter", "Reports", "Published", "EPS", "Revenue"]
pending_l4 = pd.DataFrame(columns = pending_cols)
scored_cols = ["Ticker", "Quarter", "Reported", "Rank", "EPS Points", "Revenue Points", "Total Points"]
scored_l4 = pd.DataFrame(columns = scored_cols)

for i in analyst_IDs:
    if(type(i) == str):
        time.sleep(1)
        search_analyst(i)   
        if('https://www.estimize.com/users' in str(browser.current_url)):
            ana_info(ana_info_df)
            browser.execute_script("window.scrollTo(0,900)")
            stock_l4 = (ana_table_stocks(stock_l4))
            browser.execute_script("window.scrollTo(0,1300)")
            pending_l4 = ana_table_pending(pending_l4)
            browser.execute_script("window.scrollTo(0,1400)")
            scored_l4 = (ana_table_scored(scored_l4))

C:\Users\suval\AppData\Local\Temp/ipykernel_10812/2952235422.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_box = browser.find_element_by_xpath('//*[@id="search"]')
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/1993627821.py:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  if (browser.find_elements_by_xpath(".//h1[@class='profile-display-name']")):
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/1993627821.py:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  name = browser.find_elements_by_xpath(".//h1[@class='profile-display-name']")[0].text
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/1993627821.py:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  if (browser.find_elements_by_xpath(".//ul[@class='profile-bio-categorizations']")):
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/1993627821.py:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  role = browser.find_elements_by_xpath(".//ul[@class='profile-bio-categorizations']")[0].text
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/1993627821.py:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  if (browser.find_elements_by_xpath(".//div[@class='profile-activity-stats']")):
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/1993627821.py:10: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  since = browser.find_elements_by_xpath(".//div[@class='profile-activity-stats']")[0].text
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/1993627821.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  if (browser.find_elements_by_xpath(".//div[@class='profile-analyst-confidence']")):
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/1993627821.py:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  score = browser.find_elements_by_xpath(".//div[@class='profile-analyst-confidence']")[0]
C:\Users\suval\anaconda3\lib\site-packages\selenium\webdriver\remote\webelement.py:426: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/1993627821.py:14: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  if (browser.find_elements_by_xpath(".//div[@class='profile-tab-section']")[0]):
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/1993627821.py:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  error = browser.find_elements_by_xpath(".//div[@class='profile-tab-section']")[0]
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/1993627821.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  if (browser.find_elements_by_xpath(".//div[@class='profile-tab-section']")[1]):
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/1993627821.py:18: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  acc = browser.find_elements_by_xpath(".//div[@class='profile-tab-section']")[1]
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/1993627821.py:20: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  if (browser.find_elements_by_xpath(".//div[@class='profile-tab-section']")[2]):
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/1993627821.py:21: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  points = browser.find_elements_by_xpath(".//div[@class='profile-tab-section']")[2]
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/1993627821.py:23: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  if (browser.find_elements_by_xpath(".//div[@class='profile-tab-section']")[3]):
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/1993627821.py:24: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  est = browser.find_elements_by_xpath(".//div[@class='profile-tab-section']")[3]
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/1993627821.py:26: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  if (browser.find_elements_by_xpath(".//div[@class='profile-tab-section']")[4]):
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/1993627821.py:27: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  stocks = browser.find_elements_by_xpath(".//div[@class='profile-tab-section']")[4]
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/1993627821.py:29: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  if (browser.find_elements_by_xpath(".//div[@class='profile-tab-section']")[5]):
C:\Users\suval\AppData\Local\Temp/ipykernel_10812/1993627821.py:30: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  pending = browser.find_elements_by_xpath(".//div[@class='profile-tab-section']")[5]
C:\Users\suval\anaconda3\lib\site-packages\selenium\webdriver\remote\webelement.py:446: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

### Analyst Information - Dataframe Creation:

In [31]:
ana_info_data = pd.DataFrame([])
cols = ['Analyst Name', 'Analyst Role', 'Join Date', 'Confidence Score', 'Error Rate', 'Accuracy Percentile', 'Points', 'Points/Estimate', 'Stocks', 'Pending']
ana_info_data = pd.DataFrame(ana_info_df, columns = cols)
ana_info_data.reset_index(drop = True, inplace = True)
ana_info_data.head()

,Analyst Name,Analyst Role,Join Date,Confidence Score,Error Rate,Accuracy Percentile,Points,Points/Estimate,Stocks,Pending
0,Bill,Non Professional Financials Professional Services,Member since Jul 2014 - Last seen about 3 hour...,8.4,16.5%,59%,"25,714",13.6,"1,889",31

In [33]:
analyst_IDs = pd.DataFrame(analyst_IDs, columns = ['Analyst ID'])
ID_name = analyst_IDs.merge(ana_eps, on = ['Analyst ID'], how = 'inner').loc[:,['Analyst ID', 'Analyst Name']]
ID_name.drop_duplicates(inplace = True)
ana_info_fin = ID_name.merge(ana_info_data, on = 'Analyst Name', how = 'left').loc[:,['Analyst Name', 'Analyst Role', 'Join Date', 'Confidence Score', 'Error Rate', 'Accuracy Percentile', 'Points', 'Points/Estimate', 'Stocks', 'Pending']]
ana_info_fin.reset_index(drop = True, inplace = True)
ana_info_fin.head()

,Analyst Name,Analyst Role,Join Date,Confidence Score,Error Rate,Accuracy Percentile,Points,Points/Estimate,Stocks,Pending
0,Bill,Non Professional Financials Professional Services,Member since Jul 2014 - Last seen about 3 hour...,8.4,16.5%,59%,"25,714",13.6,"1,889",31

In [34]:
ana_info_fin.to_csv('Analyst Information Data.csv')

### Stocks Covered Table - Dataframe Creation:

In [35]:
ana_stocks = pd.DataFrame([])
stock_cols = ["Ticker", "Reports", "Quarters", "Points", "Pts/Est", "Error Rate", "Accuracy"]
ana_stocks = pd.DataFrame(stock_l4, columns = stock_cols)
ana_stocks.reset_index(drop = True, inplace = True)
ana_stocks.head()

  Ticker Reports Quarters Points Pts/Est Error Rate Accuracy
0   AAPL   Feb 1       30    484    16.1       4.4%      63%
1     FB   Feb 2       28    546    19.5       6.3%      62%
2    DIS   Feb 8       27    352      13      12.0%      65%
3    CRM   Mar 1       26    632    24.3       6.8%      64%
4   CSCO  Feb 16       26    579    22.3       1.4%      62%

In [36]:
ana_stocks.to_csv('Stocks Covered Data.csv')

### Pending Estimates Table - Dataframe Creation:

In [ ]:
ana_pending = pd.DataFrame([])
pending_cols = ["Ticker", "Quarter", "Reports", "Published", "EPS", "Revenue"]
ana_pending = pd.DataFrame(pending_l4, columns = pending_cols)
ana_pending.reset_index(drop = True, inplace = True)
ana_pending

In [38]:
ana_pending.to_csv('Pending Estimates Data.csv')

### Scored Estimates Table - Dataframe Creation:

In [39]:
ana_scored = pd.DataFrame([])
scored_cols = ["Ticker", "Quarter", "Reported", "Rank", "EPS Points", "Revenue Points", "Total Points"]
ana_scored = pd.DataFrame(scored_l4, columns = scored_cols)
ana_scored.reset_index(drop = True, inplace = True)
ana_scored.head()

,Ticker,Quarter,Reported,Rank,EPS Points,Revenue Points,Total Points
0,JILL,Q3 2021,"Dec 13, 2021",2 / 3,18,-5,13
1,JOUT,Q4 2021,"Dec 10, 2021",2 / 3,-3,-4,-7
2,CMTL,Q1 2022,"Dec 9, 2021",3 / 4,10,-3,7
3,CHWY,Q3 2021,"Dec 9, 2021",12 / 14,-3,-8,-11
4,MTN,Q1 2022,"Dec 9, 2021",3 / 11,21,-3,18

In [40]:
ana_scored.to_csv('Scored Estimates Data.csv')

### Connecting to MySQL - Database Creation:

In [1]:
from sqlalchemy import create_engine

In [35]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}".format(user="root", pw="Suva96GSU", db="estimizedb"))

In [53]:
df1 = pd.read_csv('Company Details Data.csv')
df2 = pd.read_csv('Earnings per Share Data.csv')
df3 = pd.read_csv('Quarterwise Analyst EPS Data.csv')
df4 = pd.read_csv('Analyst Information Data.csv')
df5 = pd.read_csv('Stocks Covered Data.csv')
df6 = pd.read_csv('Pending Estimates Data.csv')
df7 = pd.read_csv('Scored Estimates Data.csv')

In [37]:
df1.to_sql('COMPANY_DETAILS', con = engine, if_exists = 'append', chunksize = 1000, index=False)

In [42]:
df2.to_sql('EPS_DATA', con = engine, if_exists = 'append', chunksize = 1000, index=False)

In [45]:
df3.to_sql('ANALYST_EPS', con = engine, if_exists = 'append', chunksize = 1000, index=False)

In [ ]:
df4.to_sql('ANALYST_DATA', con = engine, if_exists = 'append', chunksize = 1000, index=False)

In [ ]:
df5.to_sql('STOCKS', con = engine, if_exists = 'append', chunksize = 1000, index=False)

In [ ]:
df6.to_sql('PENDING_EST_DATA', con = engine, if_exists = 'append', chunksize = 1000, index=False)

In [ ]:
df7.to_sql('SCORED_ESTDATA', con = engine, if_exists = 'append', chunksize = 1000, index=False)